@media screen and (max-width: 1600px) {
  .confirmationModal {
    max-width: 50vw;
  }
  .actionUlList {
    overflow: auto;
  }
  .modalWidth {
    width: 800px;
  }
  .modalSubInnrContent {
    height: 40vh;
    overflow: auto;
  }
  .commonItems {
    max-width: 290px;
  }
  .flightSummTxt {
    font-size: 14px;
  }
  .tripBanner {
    height: 50vh;
  }
  .currencySearchSelectrWidth {
    max-width: 250px;
  }
}

@media screen and (max-width: 1536px) {
  .cabSearchSelectrWidth {
    max-width: 255px;
  }
}
@media screen and (max-width: 1440px) {
  .confirmationModal {
    max-width: fit-content;
  }
  .currencySearchSelectrWidth {
    max-width: 238px;
  }
  .cabSearchSelectrWidth {
    max-width: 228px;
  }
  .formBoxInnr {
    width: 100%;
    max-width: 980px;
  }
  .subCardInnr1 {
    gap: 10px;
  }

  .timingOption {
    gap: 1rem;
  }

  .fliStopsSepLine h3,
  .flightsLayoverInfo {
    font-size: 10px;
    display: inline-flex;
    align-items: center;
  }
  .timeInfoLeft p,
  .timeInfoRight p,
  .fliCode {
    font-size: 10px;
  }
  .airlineName {
    font-size: 12px;
  }
  .listing-column .sortTab .padR2,
  .sortTitle h3,
  .dateLi p {
    font-size: 12px;
  }

  .dateLeftImg,
  .dateLi,
  .dateRightImg {
    padding: 3px 4px;
  }
  .dateFirstUl {
    border-radius: 6px;
  }
  .dateLeftImg {
    border-radius: 5px 0 0 5px;
  }
  .timeInfoLeft h3 {
    font-size: 18px;
  }
  .timeInfoRight h3 {
    font-size: 18px;
  }
  .dateRightImg {
    border-radius: 0 5px 5px 0;
  }

  .fareTypeTitle,
  .subCardInnr2 h3,
  .flightDetailTitle,
  .dayPartTxt {
    font-size: 12px;
  }
  .fareTypeAmount {
    font-size: 16px;
  }
  .fareRepayTitle,
  .farePlanInfo,
  .subCardInnr2 p {
    font-size: 10px;
  }
  .arln-logo img {
    max-width: 30px;
  }
  .filterHeading h3 {
    font-size: 14px;
  }
  .filterHeading p,
  .clearAllTxt,
  .timeTxt,
  .amtTxt p {
    font-size: 10px;
  }
  .filterTimeSlots img {
    width: 14px;
  }
  .priceTxt,
  .departureSec small,
  .arrivaleSec small,
  h5.sm-title {
    font-size: 12px;
  }
  .proceedBtn span,
  .searchOnlineBtn span {
    font-size: 12px;
  }
  .departureSec .airlineName,
  .arrivaleSec .airlineName {
    font-size: 14px;
  }
  .amtTxt h3 {
    font-size: 18px;
  }
  .proceedBtn,
  .prBtn {
    padding: 16px 10px;
    border-radius: 5px;
    min-width: 0;
    width: 100%;
    min-width: 158px;
    height: auto;
  }
  .proceedCardInnr {
    padding: 10px 50px 10px 20px;
    border-top: 1px solid #dcdcdc;
  }
  .navLinkH {
    font-size: 14px;
  }
  .userName {
    font-size: 12px;
  }
  .headerIconTextAlignment {
    font-size: 12px;
  }
  .fieldInnrBtn p {
    font-size: 14px;
  }
  .returnTxt {
    font-size: 14px;
  }
  .depatureTxt {
    font-size: 14px;
  }
  .mrngTxt {
    font-size: 30px;
  }

  .modalFooter .proceedBtn,
  .modalFooter .prBtn,
  .proceedShareBtns .proceedBtn,
  .proceedShareBtns .searchOnlineBtn,
  .proceedOfflineBtns a {
    max-width: 220px;
  }
  .boxTopContainer h3 {
    font-size: 16px;
  }
  .tripCount {
    font-size: 22px;
  }
  .actionTxt {
    font-size: 16px;
  }

  .categoryName {
    font-size: 16px;
  }

  .flightName {
    font-size: 16px;
  }
  .flightStatus {
    font-size: 14px;
  }
  .radioLabel {
    font-size: 14px;
  }
  .advanceFormInnr label {
    font-size: 12px;
  }
  span#dropdown-btn {
    font-size: 12px;
  }
  .flightNameTxts1 {
    font-size: 15px;
  }
  .flightNameTxts2 {
    font-size: 12px;
  }
  .formInnrDiv label {
    font-size: 12px;
  }
  .formInnrDiv input,
  .formInnrDiv select {
    font-size: 14px;
  }
  .bt1 h3 {
    font-size: 18px;
  }
  .bt1 p {
    font-size: 14px;
  }
  .btInnr1 h3 {
    font-size: 16px;
  }
  .btInnr1 h3 span {
    font-size: 14px;
  }
  .btInnr2 h4 {
    font-size: 14px;
  }
  .bInfo h2 {
    font-size: 16px;
  }
  .fareSummTitle h3 {
    font-size: 16px;
  }
  .fareSummTitle p {
    font-size: 14px;
  }
  .summAmt h3 {
    font-size: 14px;
  }
  .summAmt p {
    font-size: 12px;
  }
  .totalAmtTxt h3 {
    font-size: 20px;
  }
  .totalAmtTxt p {
    font-size: 20px;
  }
  .journeyDateTxt {
    font-size: 14px;
  }
  .multicityFrame h2 {
    font-size: 14px;
  }
  .padR2 {
    font-size: 14px;
  }
  .eTxt {
    font-size: 10px;
  }
  .flightNameTxts1 {
    font-size: 16px;
  }
  .flightNameTxts2 {
    font-size: 12px;
  }
  .smallTxt {
    font-size: 14px;
  }
  .lrgTxt {
    font-size: 14px;
  }
  .addMoreTxt {
    font-size: 14px;
  }
  .preferredTab {
    font-size: 14px;
  }
  .travellrHeadingTxt {
    font-size: 18px;
  }
  .formInnrDiv input,
  .formInnrDiv select {
    font-size: 12px;
  }
  .boxSh-none {
    font-size: 14px;
  }
  .reviewHeader h3 {
    font-size: 20px;
  }
  label.light-label {
    font-size: 12px;
  }
  label.dark-label {
    font-size: 14px;
  }
  .idNo {
    font-size: 16px;
  }
  .counts {
    width: 25px;
    height: 25px;
    font-size: 14px;
  }
  .accordion-header .h4 {
    font-size: 16px;
  }
  li.nav-item .nav-link {
    font-size: 14px;
  }
  .airlineName.lg {
    font-size: 16px;
  }
  .fliCode.lg {
    font-size: 14px;
  }
  .heading {
    font-size: 16px;
  }
  .travelLabel {
    font-size: 14px;
  }
  .tripSubInnr h4 {
    font-size: 12px;
  }
  .tripSubInnr p {
    font-size: 14px;
  }
  .bookingTitle {
    font-size: 14px;
  }
  .totalFare h3 {
    font-size: 22px;
  }
  .addOnsDetails li span {
    font-size: 14px;
  }
  .flightLocationTxt {
    font-size: 14px;
  }
  .loginTxt {
    font-size: 24px;
  }
  .signinFormItems {
    margin-top: 10px;
  }
  .inputField {
    height: 44px;
    font-size: 14px;
    padding: 16px;
  }
  .loginBtn {
    padding: 12px;
  }
  .orLine {
    margin-top: 5px;
  }
  .ssoLoginBtn {
    margin-top: 5px;
  }
  .flightInnrCards {
    padding-right: 1rem;
  }
  .commonItems {
    max-width: 260px;
  }
  .departureDate {
    font-size: 14px;
  }
  .targetAmtTxt {
    font-size: 12px;
  }
}
@media (max-width: 1280px) {
  .bannrImg {
    height: 70vh;
  }
  .flowerFrameImg {
    top: -40px;
  }
  .flowerFrameImg2 {
    left: 0px;
    bottom: 0px;
  }
  .signinFormItems {
    gap: 0px;
  }

  .bt1 h3 {
    font-size: 16px;
  }
  .bt1 p {
    font-size: 12px;
  }
  .boxItem {
    min-width: calc(25% - 20px);
  }
  .radioLabel {
    font-size: 12px;
  }
  .popupContainer {
    max-width: 750px;
  }
  .shareDetailContainer {
    min-height: 75vh;
    padding-bottom: 50px;
  }
  .tickImg {
    width: 250px;
  }
  .apprTxt {
    font-size: 18px;
  }
  .app1 {
    gap: 15px;
  }
  .app1 img {
    width: 100%;
    max-width: 40px;
  }
  .apprTitle h3 {
    font-size: 14px;
  }
  .apprTitle p {
    font-size: 14px;
  }
  .app2 button {
    padding: 10px 16px;
  }
  .expHeader h2 {
    font-size: 18px;
  }
  .hideDetails a {
    font-size: 14px;
  }
  .commonItems {
    max-width: 228px;
  }
  .itemCardTxt {
    font-size: 12px;
  }
  .categoryName {
    font-size: 14px;
  }
  .categoryWork {
    font-size: 10px;
  }
  .calculateAmt {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  .advanceFormWrapper {
    overflow: auto;
  }
  .removeContainer {
    margin-left: 0px;
  }
  .insightRight p {
    font-size: 12px;
  }
  .tripBanner {
    height: 55vh;
  }
  .alertBoxInnr1 {
    flex-wrap: wrap;
  }
  .graphWrapper {
    flex-wrap: wrap;
  }
  .graphBox2 {
    width: 100%;
    padding-left: 16px;
  }
  .slctRoomTxt {
    font-size: 22px;
  }
  .hotelName {
    font-size: 22px;
  }
  .locationPerNew {
    font-size: 12px;
  }
  .flightInfoContainer {
    max-height: 60vh;
  }
  .tab-content {
    padding: 20px 0px;
  }
  .listTabInnr a {
    font-size: 14px;
  }
  .baggageHeading th {
    font-size: 14px;
  }
  .baggageBody td {
    font-size: 14px;
  }
  .imprtntPnt {
    margin-top: 20px !important;
  }
  .fareRuleHeader h3 {
    font-size: 16px;
  }
  .fareRuleHeader a {
    font-size: 16px;
  }
  .fareRuleBody {
    margin-top: 20px;
  }

  .recommdContainer {
    height: 20vh;
    overflow: auto;
  }
  .tripSubInnr p {
    white-space: wrap;
  }
  .currencySearchSelectrWidth {
    max-width: 205px;
  }
  .transformCityList {
    right: -219px !important;
    top: 65px !important;
  }
  .hotelListUL {
    left: -17px !important;
    top: 65px !important;
  }
  .basicFacilityContainer {
    height: 55vh;
    overflow: auto;
  }
  .menuWidth {
    width: 100%;
    min-width: 120px;
  }
  .cabTravelType {
    font-size: 14px;
  }
  .fieldInnrBtn .inputCity {
    font-size: 14px;
    width: auto;
  }
  .travelDropdownWidth {
    width: 558px;
  }
  .travellrHeadingTxt {
    font-size: 16px;
  }
  .userHeader p {
    font-size: 14px;
  }
  .calenderInnrContainer {
    min-height: 100%;
  }
  .alertInnrContainer {
    min-height: 100%;
  }
  .flightInfoWrap p {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 400px;
  }
  .recommendModalWidth {
    width: 745px;
  }
  .recmdInnrContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .submittedRequestCategory {
    padding: 7px 0px;
  }
  .currencySearchSelectrWidth {
    max-width: 215px;
  }
  .contentPad {
    padding: 0 20px;
  }
  .transformUL {
    top: 65px;
    left: auto;
  }
  .railwaySelctrWidth {
    max-width: 180px;
  }
}
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1024px) {
  .underlineBlue {
    bottom: -8px;
    right: -8px;
    width: calc(100% + 21px);
  }
  .navRightSide {
    position: fixed;
    right: -100%;
    top: 5rem;
    display: none;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    padding-bottom: 80px;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .layoutToolbarPadding {
    position: absolute;
    right: 85px;
  }
  .userName {
    display: none;
  }
  .profilePopupContainer {
    right: 13px;
  }
  .leftBoard {
    display: none;
  }
  .rightBoard {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .signinInnerContent {
    position: static;
    padding: 50px 20px;
  }
  .signinItems {
    max-width: 100%;
  }
  .signinHeader {
    max-width: 100%;
  }
  .inputField {
    max-width: 100%;
  }
  .rightSideImg {
    display: none;
  }
  .navbar {
    padding: 21px 30px;
  }
  .bannrDetail {
    padding: 0 30px;
    flex-wrap: wrap;
    gap: 20px;
  }

  .dashboardInnrContainer {
    flex-wrap: wrap;
  }

  .dashboardBody {
    padding: 0 30px;
  }
  .actionList {
    overflow: auto;
  }
  .travelDetailContainer {
    display: block;
  }
  .flightRoute {
    flex-wrap: wrap;
  }
  .travelAdvertWrapper {
    display: block;
  }
  .travelSelctor {
    flex-wrap: wrap;
    gap: 40px;
  }
  .categoryUL {
    justify-content: unset;
  }
  .sortOptionWrapper {
    overflow: auto;
  }
  .flightInnrContnt {
    flex-wrap: wrap;
  }
  .listingLhs {
    min-width: 100%;
  }
  .listingRhs {
    min-width: 100%;
  }
  .timingOptionOuter {
    min-width: 100%;
  }
  .splitBar1 {
    border: none;
  }
  .subCard1 {
    flex-wrap: wrap;
  }
  .subCardInnr1 {
    flex-wrap: wrap;
  }
  .proceedCardInnr {
    /* display: none; */
    overflow: auto;
    width: 100%;
    max-width: 976px;
    box-shadow: none;
  }
  .subCard2 {
    flex-wrap: wrap;
  }
  .fareTypes {
    flex-wrap: wrap;
  }
  .splitBar1 {
    border: none;
  }
  .splitBar2 {
    border: none;
  }
  .formMainDiv {
    flex-wrap: wrap;
  }
  .reviewDetails {
    flex-wrap: wrap;
  }
  .updateSearchBtn {
    width: 100%;
  }
  .searchOnlineBtn {
    max-width: 100%;
  }

  .preferredTab {
    font-size: 12px;
  }
  .radioBtnInnr {
    flex-wrap: wrap;
  }
  .boxItem {
    min-width: calc(100% - 20px);
  }
  .stickyFilter {
    position: static;
  }

  .transformUL {
    top: 38px;
    left: -16px;
  }
  .fltTravellers {
    flex-wrap: wrap;
    gap: 25px;
  }
  .childrenRange {
    padding-left: 0px !important;
  }
  .infantRange {
    padding-left: 0px !important;
  }
  .travelClssBtn {
    flex-wrap: wrap;
  }
  .transformUL {
    transform: translate3d(0px, 18px, 0px) !important;
  }
  .hotelCardWrapper {
    flex-wrap: wrap;
  }
  .hotelCardLeft {
    flex-wrap: wrap;
  }
  .locationPerNew {
    max-width: 100%;
  }
  .rvWrapper {
    flex-wrap: wrap;
  }
  .rvWrapperLeft {
    width: 100%;
  }
  .rvWrapperRight {
    max-width: 100%;
  }
  .hotelCardTop {
    gap: 20px;
  }
  .hotelCardBottom {
    flex-wrap: wrap;
  }
  .paymentMethodBtn {
    flex-wrap: wrap;
  }
  .tripsServicesSelct {
    padding: 0 30px;
    top: 300px;
  }

  .tripInformationWrapper {
    flex-wrap: wrap;
    gap: 20px;
  }
  .tripAddWrapper {
    flex-wrap: wrap;
    gap: 15px;
  }
  .tripData {
    flex-wrap: wrap;
  }
  .tripAddLeft {
    flex-wrap: wrap;
  }
  .tripAddRight {
    text-align: left;
  }
  .tripAddRight p {
    margin: 0px;
  }
  .tripListOuter {
    flex-wrap: wrap;
  }
  .hotelCheckInList {
    grid-template-columns: 1fr 1fr;
  }
  .timingOption {
    flex-wrap: wrap;
  }
  .timeInfoRight {
    text-align: left;
  }
  .flightInsightsInnr {
    flex-wrap: wrap;
  }
  .app1 {
    flex-wrap: wrap;
  }
  .tripDetailsUl {
    grid-template-columns: 1fr 1fr;
  }
  .DeleteSec {
    padding-left: 0px !important;
  }
  /* .border-end {
    border-right: 0px !important ;
    border-bottom: 1px solid #dee2e6 !important;
    padding-bottom: 10px;
  } */
  .mailContainer {
    flex-wrap: wrap;
  }
  .hotelCardRight {
    align-items: flex-start !important;
    padding: 20px 0px !important;
  }
  .listTab {
    overflow: auto;
  }
  .fareRuleBody {
    overflow: auto;
  }
  .travelCalenderWrapper {
    width: 100%;
  }
  .travelAlertWrapper {
    width: 100%;
  }
  .overviewBoxContainer {
    padding: 0 30px;
  }
  .categoryOuterBox {
    overflow: auto;
  }
  .formBox {
    flex-wrap: wrap;
  }
  .menuWidth {
    width: 100%;
    min-width: 135px;
  }
  .formSelectrWidth {
    /* width: 380px; */
    margin: auto;
  }
  .updateSearchBtn {
    max-width: 100%;
  }

  .tripBanner {
    height: 55vh;
  }
  .tripsServicesSelct {
    top: 260px;
  }

  /* .bannrImg {
    height: 50vh;
  } */
  .profileBanner {
    height: 40vh;
  }
  .top-profile {
    flex-wrap: wrap;
  }
  .leftContent {
    flex-wrap: wrap;
  }
  .passengerInfo {
    width: 100%;
  }
  .bookingInfo {
    width: 100%;
  }
  .dashboardLeftBody {
    padding-right: 0px !important;
    border: 0px !important;
    width: 100%;
  }
  .dashboardRightBody {
    padding-left: 0px !important;
    width: 100%;
  }
  .listingSecInnr {
    /* flex-wrap: wrap; */
  }
  .listing-column {
    max-width: 100% !important;
    width: 100% !important;
  }
  .seperatorH {
    border: none;
  }
  .flightOverflowBox {
    width: 100%;
    overflow: auto;
  }
  .cabSelctrTab {
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 10px;
  }
  .cabSearchSelectrWidth {
    max-width: 160px;
  }
  .currentItem {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: inline-block;
  }
  .railwaySelctrWidth {
    max-width: 279px;
  }
  .currencySearchSelectrWidth {
    max-width: 166px;
  }
  .oneWaySelctr {
    flex-wrap: wrap;
    gap: 20px;
    padding: 8px 20px !important;
  }
  .fromCity {
    padding-left: 0px !important;
    width: 100%;
  }
  .toCity {
    padding-left: 0px !important;
    width: 100%;
  }
  .departureTime {
    padding: 0px !important;
    width: 100%;
  }

  .returnTime {
    padding: 0px !important;
    width: 100%;
  }
  .travellerClass {
    padding-left: 0px !important;
    width: 100%;
  }
  .dropLocation {
    padding-left: 0px !important;
    width: 100%;
  }
  .checkInTime {
    padding-left: 0px !important;
    width: 100%;
  }
  .checkoutTime {
    padding-left: 0px !important;
    width: 100%;
  }
  .visaType {
    padding-left: 0px !important;
  }
  .travellingTo {
    padding-left: 0px !important;
  }
  .entryNumber {
    padding-left: 0px !important;
  }
  .visaApplType {
    padding-left: 0px !important;
  }
  .tripType {
    padding-left: 0px !important;
  }
  .endTime {
    padding-left: 0px !important;
  }
  .travelDays {
    padding-left: 0px !important;
  }
  .slectProduct {
    padding-left: 0px !important;
  }
  .perDiemEligibility {
    padding-left: 0px !important;
  }
  .requiredAdvanceAmount {
    padding-left: 0px !important;
  }
  .cardNumber {
    padding-left: 0px !important;
  }
  .pickupLocation {
    padding-left: 0px !important;
  }
  .fromDate {
    padding-left: 0px !important;
  }
  .toDate {
    padding-left: 0px !important;
  }
  .pickupTime {
    padding-left: 0px !important;
  }
  .cabType {
    padding-left: 0px !important;
  }
  .packageType {
    padding-left: 0px !important;
  }
  .travellerType {
    padding-left: 0px !important;
  }
  .fromStation {
    padding-left: 0px !important;
  }
  .toStation {
    padding-left: 0px !important;
  }
  .quotaType {
    padding-left: 0px !important;
  }
  .classType {
    padding-left: 0px !important;
  }
}

@media screen and (max-width: 980px) {
  .underlineBlue {
    bottom: -8px;
    width: calc(100% + 21px);
  }
  .approveTicket {
    flex-wrap: wrap;
    gap: 15px;
  }
  .app2 {
    justify-content: flex-start;
  }
  .flightSelctionContainer {
    flex-wrap: wrap;
  }
  .proceedOfflineBtns {
    flex-wrap: wrap;
  }
  .overviewBoxContainer {
    top: auto;
    margin-top: -80px;
  }

  .right-bordered:after {
    border: none;
  }
  .fltSwipCircle {
    left: 50%;
    top: 40px;
  }
  .swipBorder {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }

  .cabSearchSelectrWidth {
    max-width: 100%;
    padding: 0px !important;
  }
  .currencySearchSelectrWidth {
    max-width: 100%;
    padding: 0px !important;
  }
  .railwaySelctrWidth {
    max-width: 100%;
    width: 100%;
    padding: 0px !important;
  }
  .bannrImg {
    height: 42vh;
  }
  .recmdInnrContainer {
    grid-template-columns: 1fr 1fr;
  }
  .recommendModalWidth {
    width: 100%;
  }
  .tableBrdr {
    overflow: auto;
  }
  .oneWaySelctr {
    display: grid;
    padding: 13px !important;
    gap: 20px;
  }
  .travellerClass {
    width: 100%;
    padding: 0px !important;
  }

  .transformCityList {
    left: -20px !important;
  }
  .basicFacilityList {
    flex-wrap: wrap;
  }
  .leftCaraouselArrow {
    left: 0;
  }
  .rightCaraouselArrow {
    right: 0;
  }
  .hotelSliderMain {
    padding: 0 25px;
  }
  .hotelRecmmdTop {
    flex-wrap: wrap;
  }
  .hotelCheckList {
    flex-wrap: wrap;
  }
  .hotelInnrDetailList {
    border: 0px;
  }
  .multiserviceBoxContainer {
    padding: 20px;
    margin-bottom: 50px;
  }
  .selectInputWrapContainer {
    flex-wrap: wrap;
  }
  .dropdownItem.selctWrap1 {
    max-width: 100%;
  }
  .dropdownItem.selctWrap2 {
    max-width: 100%;
  }
  .formInnrDiv {
    flex: 0 0 auto;
    width: 100%;
  }
  .passngerAge {
    border-radius: 0px;
  }
  .rangeFlex {
    width: 100%;
    justify-content: space-between;
  }
  .warningPopupContainer {
    padding: 0 25px;
  }
  .cabSelctrContainer {
    display: grid;
    padding: 14px 15px !important;
    overflow: auto;
  }
  .dropdownItem.cabSelectValue::after {
    right: -5px;
    top: -16px;
  }
  .departureDate:after {
    right: -6px;
  }
  .accordion-button .arrowIcon {
    right: -6px;
  }
  .advanceFormWrapper {
    flex-wrap: wrap;
    overflow: unset;
  }
  .meal-sections {
    flex-wrap: wrap;
    gap: 20px;
  }
  .cardSec {
    flex: 0px;
  }
  .columnsSec {
    padding: 0px !important;
  }
  .columnsSec.border-left {
    border: 0px;
  }
  .tripAddedListWrapper {
    padding: 20px 30px !important;
  }
  .requestCount {
    width: 24px;
    height: 24px;
    padding: 4px;
    right: -20px;
    top: -12px;
  }
  .railSelectr {
    gap: 30px;
  }
  .profile-tabs {
    margin-bottom: 240px !important;
  }
  .flightOverflow {
    height: 30vh;
    overflow: auto;
  }

  .tripsServicesSelct {
    top: 340px;
  }
  .borderedBox {
    max-width: 100%;
    margin-top: 10px;
  }
  .flightInfoContainer {
    display: block !important;
  }
  .addressContainer {
    flex-wrap: wrap;
  }
  .directFlightWrap {
    flex-wrap: wrap;
    gap: 20px !important;
  }
  .borderedBox h4 {
    flex-wrap: wrap;
    gap: 10px;
  }
  .creditCardTop {
    flex-wrap: wrap;
  }
  .addNewPassportForm {
    height: 30vh;
    overflow: auto;
  }
  .bookingDetailContainer {
    padding: 24px;
  }
  .arln-logo img {
    object-fit: contain;
  }
  .backBtn {
    margin-bottom: 12px;
  }
  .flightDetailBodyContainer {
    height: 40vh;
    overflow: auto;
  }
  .cabSelctrTab {
    gap: 40px;
    padding: 0px;
  }
}

@media screen and (max-width: 767px) {
  .passngrformHeader {
    flex-wrap: wrap;
  }
  .psInput {
    flex-wrap: wrap;
  }
  .empTitleInput {
    max-width: 100%;
  }
  .empNameInput {
    max-width: 100%;
  }
  #menu {
    padding: 10px;
    width: 415px;
  }
  .otpWrapper input {
    height: 60px;
    width: 60px;
  }
  .recommendModalWidth {
    padding: 0 30px;
    margin: 0px;
  }
  .recmdInnrContainer {
    grid-template-columns: 1fr;
  }
  .proceedCardInnr {
    padding: 20px;
  }
  .proceedOfflineBtns {
    justify-content: center !important;
  }
  .bookingInfo {
    padding-bottom: 50px;
  }
  .tripsServicesSelct {
    top: 360px;
  }
  .modalWidth {
    width: 100%;
    padding: 0 46px;
    margin: auto;
  }
  .loaderImg {
    height: 12vh;
  }
  .polygonImg {
    left: 46%;
  }
  .blurBackdrop {
    padding: 0 30px;
  }
  .notifyPopupContainer {
    right: -116px;
    width: 330px;
  }
  .tripAddMargin {
    margin-bottom: 120px !important;
  }
  .approverManagerTxt {
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 10px;
  }
  .travelDropdownWidth {
    width: 100%;
  }
  .cabSelctrContainer {
    padding: 15px !important;
  }
}

@media screen and (max-width: 565px) {
  .catInnrListWrapper {
    padding: 6px;
  }
  .bannrImg {
    height: 55vh;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1370px;
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 1570px;
  }
}
@media (min-width: 1920px) {
  .container {
    max-width: 1700px;
  }
}
